#timepass{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#rocket{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#bhediya{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#shamshera{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#pathaan{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#rakshabandhan{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#ramsetu{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#laalsinghchaddha{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#ganapathpart1{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#hitthefirstcase{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#liger{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#phonebhoot{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#dobaara{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#maidaan{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#brahmastra{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}