#thor{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#endgame{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#minions{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tenet{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#aquaman{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#bullettrain{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#flash{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#marvels{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#panther{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#shazam{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#adam{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#avatar{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#mission{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#thelostcity{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sonic1{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#sonic2{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#light{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#uncharted{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#galaxy{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#joker{
    display: inline-block;
    margin-left: 26.125px;
    margin-right: 26.125px;
    margin-top: 40px;
    margin-bottom: 40px;
}
